<md-toolbar ng-class="{ 'tall': isMainPage(), 'shrinked': isNotMainPage() }" md-scroll-shrink ng-controller="NavbarCtrl">
  <div layout="row" class="md-toolbar-tools" layout-align="center center">
    <!-- <ng&#45;md&#45;icon hide&#45;gt&#45;sm ng&#45;click="changeIcon()" icon="{{icon}}" options='{"rotation": "none", "easing":"sine&#45;in", "duration":"300"}' style="fill: white"></ng&#45;md&#45;icon>  -->
    <!-- <span flex hide&#45;gt&#45;sm></span> -->
    <a ui-sref="main">
      <img class="logo" src="assets/images/6.png" alt="" />
    </a>
    <!-- <span flex></span> -->
  </div>
</md-toolbar>
<!-- <div layout="row" layout&#45;margin class="colorNested"> -->
<!--   <div flex flex&#45;order="1" flex&#45;order&#45;gt&#45;md="3" layout&#45;padding> -->
<!--     <p show hide&#45;gt&#45;md>[flex&#45;order="1"]</p> -->
<!--     <p hide show&#45;gt&#45;md>[flex&#45;order&#45;gt&#45;md="3"]</p> -->
<!--   </div> -->
<!--   <div flex flex&#45;order="2" layout&#45;padding style="color:white"> -->
<!--     <p>[flex&#45;order="2"]</p> -->
<!--   </div> -->
<!--   <div flex flex&#45;order="3" flex&#45;order&#45;gt&#45;md="1" layout&#45;padding> -->
<!--     <p show hide&#45;gt&#45;md>[flex&#45;order="3"]</p> -->
<!--     <p hide show&#45;gt&#45;md>[flex&#45;order&#45;gt&#45;md="1"]</p> -->
<!--   </div> -->
<!-- </div> -->
  <!-- <md&#45;sidenav class="site&#45;sidenav md&#45;sidenav&#45;left md&#45;whiteframe&#45;z2" -->

  <!--   md&#45;component&#45;id="left" -->
  <!--   md&#45;is&#45;locked&#45;open="$mdMedia('gt&#45;sm')"> -->
  <!--  -->
  <!--   <md&#45;toolbar class="md&#45;whiteframe&#45;z1"> -->
  <!--     <h1>Users</h1> -->
  <!--   </md&#45;toolbar> -->
  <!--  -->
  <!--   <md&#45;list> -->
  <!--     <md&#45;list&#45;item ng&#45;repeat="it[ ] n ul.users"> -->
  <!--       <md&#45;button ng&#45;click="ul.selectUser(it)" ng&#45;class="{'selected' :[ ] t === ul.selected }"> -->
  <!--         <md&#45;icon md&#45;svg&#45;icon="{{it.avatar}}" class="avatar"></md&#45;icon> -->
  <!--           {{it.name}} -->
  <!--         </md&#45;button> -->
  <!--     </md&#45;list&#45;item> -->
  <!--   </md&#45;list> -->
  <!--  -->
  <!-- </md&#45;sidenav> -->
<!-- <div class="navbar navbar&#45;default navbar&#45;static&#45;top" ng&#45;controller="NavbarCtrl"> -->
<!--   <div class="container"> -->
<!--     <div class="navbar&#45;header"> -->
<!--       <button class="navbar&#45;toggle" type="button" ng&#45;click="isCollapsed = !isCollapsed"> -->
<!--         <span class="sr&#45;only">Toggle navigation</span> -->
<!--         <span class="icon&#45;bar"></span> -->
<!--         <span class="icon&#45;bar"></span> -->
<!--         <span class="icon&#45;bar"></span> -->
<!--       </button> -->
<!--       <a href="/" class="navbar&#45;brand">tutububu</a> -->
<!--     </div> -->
<!--     <div collapse="isCollapsed" class="navbar&#45;collapse collapse" id="navbar&#45;main"> -->
<!--       <ul class="nav navbar&#45;nav"> -->
<!--         <li ng&#45;repeat="item in menu" ng&#45;class="{active: isActive(item.link)}"> -->
<!--             <a ng&#45;href="{{item.link}}">{{item.title}}</a> -->
<!--         </li> -->
<!--       </ul> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
