.logo {
    height: 36px;
    transition: all 0.3s cubic-bezier(.55,0,.1,1);
    margin-top: 0;
}

[ng-include] {
    position: absolute;
    width: 100%;
}

md-toolbar {
    background-color: #169acb !important;
    transition: all 0.5s cubic-bezier(.55,0,.1,1);

    &.tall {
        height: 170px;

        .md-toolbar-tools {
            flex-direction: column;
        }

        .logo {
            height: 100px;
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.shrinked {
        height: 100px;

        .md-toolbar-tools {
            flex-direction: row;
        }

        .logo {
            height: 60px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
