#frontPage img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

#frontPage .properties {
	position:absolute;
	bottom: 0px;
	left:0px;
	right:0px;
	background: rgba(0, 0, 0, 0.701961);
	color: white;
}

#frontPage .buttonRow{
	font-size: 300%;
}