<div class="main-container">
  <div class="button-place" layout="row" layout-sm="column" layout-sm-align="center center" layout-align="space-around center">
      <div class="marketing" offset-gt-md="10" flex-gt-md="30">
        <h2 hide show-gt-sm>
          You do what you like to. 
          <br /> 
          Easily find personalized events, parties, bars and other activities.
        <!-- <!&#45;&#45; Einfach auf dich zugeschnittene Events, Partys, Bars und Freizeitaktivitäten finden. &#45;&#45;> -->
        </h2>
        <md-button class="md-raised md-primary facebook-button" ui-sref="home">Continue with Facebook</md-button>
      </div>
      <div class="mockup-placeholder"  hide show-gt-sm flex-gt-md="30">
        <img src="assets/images/oneplusone.png" alt="" />
      </div>
    <!-- </div> -->
  </div>

  <div class="background-part">
    <div class="row" ng-repeat="m in [] | range:heightInTiles:0">
      <div class="tile" ng-repeat="n in [] | range:widthInTiles:randomNumbers[m]"><img ng-src="assets/images/tiles/{{n}}.jpg"></div>
    </div>
  </div>
  
  
</div>

<!--  -->
<!-- <header class="hero&#45;unit" id="banner"> -->
<!--   <div class="container"> -->
<!--     <h1>'Allo, 'Allo!</h1> -->
<!--     <p class="lead">Kick&#45;start your next web app with Angular Fullstack</p> -->
<!--     <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
<!--   </div> -->
<!-- </header> -->
<!--  -->
<!-- <div class="container"> -->
<!--   <div class="row"> -->
<!--     <div class="col&#45;lg&#45;12"> -->
<!--       <h1 class="page&#45;header">Features:</h1> -->
<!--       <ul class="nav nav&#45;tabs nav&#45;stacked col&#45;md&#45;4 col&#45;lg&#45;4 col&#45;sm&#45;6" ng&#45;repeat="thing in awesomeThings"> -->
<!--         <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li> -->
<!--       </ul> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<!--  -->
<!-- <footer class="footer"> -->
<!--   <div class="container"> -->
<!--       <p>Angular Fullstack v2.1.1 | -->
<!--         <a href="https://twitter.com/tyhenkel">@tyhenkel</a> | -->
<!--          <a href="https://github.com/DaftMonk/generator&#45;angular&#45;fullstack/issues?state=open">Issues</a></p> -->
<!--   </div> -->
<!-- </footer> -->
