.main-container {
    padding-top: 170px;
}

// start from every n-th element
$n: 5;
$m: 11;

@keyframes tile {
    0% {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }
    75% {
        transform: scale(0.9, 0.9);
        opacity: 0.5;
    }
    80% {
        transform: scale(1.05, 1.05);
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@mixin tile-animation($index) {
    animation-name: tile;
    animation-delay: $index * 0.2s;
    animation-duration: 0.5s;
    // animation-timing-function: cubic-bezier(.62,.28,.23,.99);
    // animation-timing-function: cubic-bezier(.62,.28,.23,.99);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.mockup-placeholder {
    img {
        margin-top: 10px;
        width: 320px;
    }
}

.marketing {
    h2 {
        font-size: 26px;
        padding: 30px 50px;
        background-color: rgba(255,255,255,0.6);
        // text-align: center;
    }
}

.button-place {
    background-color: rgba(255,255,255,0.6);
    height: 500px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.background-part {
    position: fixed;
    margin-top: 0px;
    .row {
        white-space: nowrap;
        overflow: hidden;
        height: 100px;

        .tile {
            display: inline-block;
            margin: 0;
            width: 100px;
            height: 100px;
            padding: 0;
            transform: scale(0, 0);
        }

        @for $j from 0 to $m {
            &:nth-child(#{$j}) {
                .tile {
                    @for $i from 0 to $n {
                        &:nth-child(#{$j}n + #{1 * $i}) {
                            @include tile-animation($i);
                        }
                    }
                }
            }
        }
    }
}

.facebook-button {
    color: #fff !important;
    background-color: #3b5998 !important;
    padding: 20px 30px;
    font-size: 18px;
}
