.activities-cards {
    position: absolute;
    height: 100%;
    width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

md-content {
    overflow: hidden;
}

md-card {
    background-size: cover;
    background-position: center;

    &.mobile-card {
        position: fixed;
        top: 106px;
        left: 4px;
        right: 4px;
        bottom: 4px;

        .md-card-overlay {
            background-color: rgba(0,0,0,0.7);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &.desktop-card, 
    &.desktop-card-hidden-left,
    &.desktop-card-hidden-right {
        $size: 500px;
        z-index: 10;

        max-width: $size;
        max-height: $size;
        min-width: $size;
        min-height: $size;
        width: $size;
        height: $size;
    }

    &.desktop-card-hidden-left,
    &.desktop-card-hidden-right {
        position: fixed;
        z-index: 0;
        top: 121px;
    }
    &.desktop-card-hidden-left {
        left: 0;
        transform: perspective( 600px  ) rotateY( 25deg  ) scale(0.7,0.7);
    }
    &.desktop-card-hidden-right {
        right: 0;
        transform: perspective( 600px ) rotateY( -25deg  ) scale(0.7,0.7);
    }
    &.desktop-card { 
        position: relative;
        margin-top: 108px;
        z-index: 1000;
        .md-card-overlay {
            background-color: rgba(0,0,0,0.7);
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    }

    color: #ffffff;
    transition: opacity 0.1s ease-in;
    opacity: 1;

    &.almost-thrown-away {
        opacity: 0.5;
    }

    ul {
        margin-bottom: 0;

        h3 {
            margin: 10px 0;
        }
    }
}

.md-title {
    width: 90%;
    margin: 0 auto;
    // margin-top: -60px;
}
.md-swiper-actions {
    .md-button {
        padding-top: 12px;
    }
}
