
<div hide show-gt-sm layout="row" layout-align="center center" class="activities-cards">
  <md-progress-circular ng-if="!eventsToDisplay" md-diameter="96"></md-progress-circular>
  <md-content ng-if="eventsToDisplay">
    <div>
      <md-card
        id="card-2"
        class="desktop-card"
        ng-style="{'background-image':'url(' + eventsToDisplay[2].imgUrl + ')'}"
      >
        <div class="placeholder"></div>
        <div class="md-card-overlay">
          <md-card-content>
            <h2 class="md-title" ng-bind="eventsToDisplay[2].title"></h2>
            <ul>
              <li layout="row" ng-repeat="property in eventsToDisplay[2].properties">
                <h3>{{property.label}}: {{property.text}}</h3>
              </li>
            </ul>
          </md-card-content>
          <div class="md-actions md-swiper-actions" layout="row" layout-align="space-around center">
            <md-button ng-click="dislike(eventsToDisplay[2].title)">
              <ng-md-icon ng-if="likes[url] === false" icon="thumb_down" style="fill: red" size="40"></ng-md-icon>
              <ng-md-icon ng-if="likes[url] === undefined" icon="thumb_down" style="fill: white" size="40"></ng-md-icon>
            </md-button>
            <md-button ng-click="dismiss(1)">
              <ng-md-icon icon="replay" style="fill: white" size="40"></ng-md-icon>
            </md-button>
            <md-button ng-click="open(eventsToDisplay[2].url)">
              <ng-md-icon icon="local_attraction" style="fill: white" size="40"></ng-md-icon>
            </md-button>
            <md-button ng-click="like(eventsToDisplay[2].title)">
              <ng-md-icon ng-if="likes[url] === undefined" icon="thumb_up" style="fill: white" size="40"></ng-md-icon>
              <ng-md-icon ng-if="likes[url] === true" icon="thumb_up" style="fill: red" size="40"></ng-md-icon>
            </md-button>
          </div>
         </div>
      </md-card>
      <md-card
        id="card-1"
        class="desktop-card-hidden-left"
        ng-style="{'background-image':'url(' + eventsToDisplay[1].imgUrl + ')'}"
        ></md-card>
      <md-card
        id="card-0"
        class="desktop-card-hidden-right"
        ng-style="{'background-image':'url(' + eventsToDisplay[0].imgUrl + ')'}"
        ></md-card>
    </div>
  </md-content>
</div>
<md-content hide-gt-sm ng-repeat="(index, event) in eventsToDisplay">
  <md-card
    id="card-{{index}}"
    class="mobile-card"
    swing-card
    swing-on-throwout="onThrowout(eventName, eventObject)"
    swing-on-dragend="onDragend(eventName, eventObject)"
    swing-on-dragmove="onDragmove(eventName, eventObject)"
    ng-style="{'background-image':'url(' + event.imgUrl + ')'}"
  >
    <div class="placeholder"></div>
    <div class="md-card-overlay">
      <md-card-content>
        <h2 class="md-title" ng-bind="event.title"></h2>
        <ul>
          <li layout="row" ng-repeat="property in event.properties">
            <h3>{{property.label}}: {{property.text}}</h3>
          </li>
        </ul>
      </md-card-content>
      <div class="md-actions md-swiper-actions" layout="row" layout-align="space-around center">
        <md-button ng-click="dismiss(index)">
          <ng-md-icon icon="replay" style="fill: white" size="40"></ng-md-icon>
        </md-button>
        <md-button ng-click="open(event.url)">
          <ng-md-icon icon="local_attraction" style="fill: white" size="40"></ng-md-icon>
        </md-button>
      </div>
    </md-card>
  </div>
</md-content>
