
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

body {
    width: 100%;

    & > [ui-view] {
        width: 100%;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}


// Component styles are injected through grunt
// injector
@import 'home/home.scss';
@import 'main/main.scss';
@import 'navbar/navbar.scss';
// endinjector
